#
# Copyright (C) 2025 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

#
# This systemd unit starts a jitsi instance using Podman.
# Most parts of this file come from podman-generate-systemd.
#

[Unit]
Description=Podman jitsi.service
Requires=jitsi-web.service jitsi-prosody.service jitsi-jicofo.service jitsi-jvb.service
Before=jitsi-web.service jitsi-prosody.service jitsi-jicofo.service jitsi-jvb.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=-%S/state/environment
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/jitsi.pid %t/jitsi.pod-id
ExecStartPre=-/usr/bin/podman network create meet.jitsi
ExecStartPre=/usr/bin/podman pod create --infra-conmon-pidfile %t/jitsi.pid \
    --pod-id-file %t/jitsi.pod-id \
    --name jitsi \
    --network=meet.jitsi \
    --network-alias=meet.jitsi \
#    --network=slirp4netns:port_handler=slirp4netns \
#    --network=slirp4netns:allow_host_loopback=true \
    --publish 127.0.0.1:${TCP_PORT}:80 \
    --publish 10000:10000/udp \
#    --add-host xmpp.meet.jitsi:127.0.0.1 \
#    --add-host jvb.meet.jitsi:127.0.0.1 \
#    --add-host meet.jitsi:127.0.0.1 \
    --replace
ExecStart=/usr/bin/podman pod start --pod-id-file %t/jitsi.pod-id
ExecStop=/usr/bin/podman pod stop --ignore --pod-id-file %t/jitsi.pod-id -t 10
ExecStopPost=/usr/bin/podman pod rm --ignore -f --pod-id-file %t/jitsi.pod-id
PIDFile=%t/jitsi.pid
Type=forking

[Install]
WantedBy=default.target