#
# Copyright (C) 2025 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  jitsi-excalidraw.service
BindsTo=jitsi.serviceprosody
After=jitsi.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/jitsi-excalidraw.pid %t/jitsi-excalidraw.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/jitsi-excalidraw.pid \
    --cidfile %t/jitsi-excalidraw.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/jitsi.pod-id --replace -d --name  jitsi-excalidraw \
    --env-file %S/state/environment \
    --env-file jitsi.env \
    ${EXCALIDRAW_BACKEND_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/jitsi-excalidraw.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP jitsi-excalidraw
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/jitsi-excalidraw.ctr-id
PIDFile=%t/jitsi-excalidraw.pid
Type=forking

[Install]
WantedBy=default.target