#
# Copyright (C) 2025 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  jitsi-etherpad.service
BindsTo=jitsi.service
After=jitsi.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/jitsi-etherpad.pid %t/jitsi-etherpad.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/jitsi-etherpad.pid \
    --cidfile %t/jitsi-etherpad.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/jitsi.pod-id --replace -d --name  jitsi-etherpad \
    --env-file %S/state/environment \
    --env-file jitsi.env \
#    --volume plugins:/opt/etherpad-lite/src/plugin_packages:Z \
#    --volume etherpad-var:/opt/etherpad-lite/var:Z \
    ${ETHERPAD_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/jitsi-etherpad.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP jitsi-etherpad
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/jitsi-etherpad.ctr-id
PIDFile=%t/jitsi-etherpad.pid
Type=forking

[Install]
WantedBy=default.target