[Unit]
Description=Podman  jitsi-etherpad.service
BindsTo=jitsi.service
After=jitsi.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=%S/state/jitsi.env
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/jitsi-etherpad.pid %t/jitsi-etherpad.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/jitsi-etherpad.pid \
    --cidfile %t/jitsi-etherpad.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/jitsi.pod-id --replace -d --name  jitsi-etherpad \
    --env-file %S/state/environment \
#    --env-file jitsi.env \
#    --volume plugins:/opt/etherpad-lite/src/plugin_packages:Z \
#    --volume etherpad-var:/opt/etherpad-lite/var:Z \
    --env TITLE=${ETHERPAD_TITLE:-""} \
    --env DEFAULT_PAD_TEXT=${ETHERPAD_DEFAULT_PAD_TEXT:-" "} \
    --env SKIN_NAME=SKIN_NAME=${ETHERPAD_SKIN_NAME:-colibris} \
    --env SKIN_VARIANTS=${ETHERPAD_SKIN_VARIANTS:-"super-light-toolbar super-light-editor light-background full-width-editor"} \
    --env SUPPRESS_ERRORS_IN_PAD_TEXT=true \
    ${ETHERPAD_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/jitsi-etherpad.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP jitsi-etherpad
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/jitsi-etherpad.ctr-id
PIDFile=%t/jitsi-etherpad.pid
Type=forking

[Install]
WantedBy=default.target