#
# Copyright (C) 2025 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  jitsi-web.service
BindsTo=jitsi.service
After=jitsi.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
#ExecStartPre=/bin/mkdir -p tmp
ExecStartPre=/bin/rm -f %t/jitsi-web.pid %t/jitsi-web.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/jitsi-web.pid \
    --cidfile %t/jitsi-web.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/jitsi.pod-id --replace -d --name  jitsi-web \
#    --network=meet.jitsi \
#    --volume ./tmp:/tmp:Z \
    --env-file jitsi.env \
    --volume jitsi-web-config:/config:Z \
    --volume jitsi-web-crontabs:/var/spool/cron/crontabs:Z \
    --volume jitsi-web-transcripts:/usr/share/jitsi-meet/transcripts:Z \
    --volume jitsi-web-load-test:/usr/share/jitsi-meet/load-test:Z \
    ${WEB_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/jitsi-web.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP jitsi-web
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/jitsi-web.ctr-id
PIDFile=%t/jitsi-web.pid
Type=forking

[Install]
WantedBy=default.target