#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  jitsi-jicofo.service
BindsTo=jitsi.service
After=jitsi.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
#ExecStartPre=/bin/mkdir -p tmp
ExecStartPre=/bin/rm -f %t/jitsi-jicofo.pid %t/jitsi-jicofo.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/jitsi-jicofo.pid \
    --cidfile %t/jitsi-jicofo.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/jitsi.pod-id --replace -d --name  jitsi-jicofo \
#    --volume ./tmp:/tmp:Z \
    --volume jitsi-jicofo-config:/config:Z \
    --env ENV_VAR=test \
    ${JICOFO_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/jitsi-jicofo.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP jitsi-jicofo
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/jitsi-jicofo.ctr-id
PIDFile=%t/jitsi-jicofo.pid
Type=forking

[Install]
WantedBy=default.target
